In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("./CSV/datasets_happiness_ranking.csv")

In [3]:
df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [4]:
df.keys()

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [5]:
happiness_df = df[['Country or region','Overall rank','Score','Social support','Freedom to make life choices','Perceptions of corruption']]

In [6]:
happiness_df.columns = ["country", "ranking", "score", "social_support", "freedom_index", "corruption_index"]

In [7]:
happiness_df.set_index("country", inplace=True)

In [8]:
happiness_df.head()

             ranking  score  social_support  freedom_index  corruption_index
country
Finland            1  7.769           1.587          0.596             0.393
Denmark            2  7.600           1.573          0.592             0.410
Norway             3  7.554           1.582          0.603             0.341
Iceland            4  7.494           1.624          0.591             0.118
Netherlands        5  7.488           1.522          0.557             0.298

### Connection to database

In [9]:
rds_connection_string = "postgres:postgres@localhost:5432/COVID_df"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
engine.table_names()

['happiness_table',
 'countrycode_table',
 'covid_cases',
 'capital_table',
 'completed_table']

In [12]:
happiness_df.to_sql(name='happiness_table', con=engine, if_exists='append', index=True, index_label="country")

In [13]:
pd.read_sql_query('select * from happiness_table', con=engine).head()

,country,ranking,score,social_support,freedom_index,corruption_index
0,Finland,1,7.769,1.587,0.596,0.393
1,Denmark,2,7.600,1.573,0.592,0.410
2,Norway,3,7.554,1.582,0.603,0.341
3,Iceland,4,7.494,1.624,0.591,0.118
4,Netherlands,5,7.488,1.522,0.557,0.298