In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("./CSV/concap.csv")

In [3]:
df.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe

In [4]:
df.keys()

Index(['CountryName', 'CapitalName', 'CapitalLatitude', 'CapitalLongitude',
       'CountryCode', 'ContinentName'],
      dtype='object')

In [5]:
capital_df = df[['CountryName', 'CapitalName', 'CapitalLatitude', 'CapitalLongitude',
       'CountryCode']]

In [6]:
capital_df.columns = ["country", "capital", "lat", "lng", "iso_a2"]

In [7]:
capital_df.set_index("country", inplace=True)

In [8]:
capital_df

,capital,lat,lng,iso_a2
country,,,,
Somaliland,Hargeisa,9.550000,44.050000,NaN
South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS
French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF
Palestine,Jerusalem,31.766667,35.233333,PS
Aland Islands,Mariehamn,60.116667,19.900000,AX
...,...,...,...,...
Northern Cyprus,North Nicosia,35.183333,33.366667,NaN
Hong Kong,NaN,0.000000,0.000000,HK
Heard Island and McDonald Islands,NaN,0.000000,0.000000,HM
British Indian Ocean Territory,Diego Garcia,-7.300000,72.400000,IO
Macau,NaN,0.000000,0.000000,MO

### Connection to database

In [9]:
rds_connection_string = "postgres:postgres@localhost:5432/COVID_df"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
engine.table_names()

['happiness_table',
 'countrycode_table',
 'covid_cases',
 'capital_table',
 'completed_table']

In [11]:
capital_df.to_sql(name='capital_table', con=engine, if_exists='append', index=True, index_label="country")

In [12]:
pd.read_sql_query('select * from capital_table', con=engine).head()

,country,capital,lat,lng,iso_a2
0,Somaliland,Hargeisa,9.550000,44.050000,None
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS
2,French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF
3,Palestine,Jerusalem,31.766667,35.233333,PS
4,Aland Islands,Mariehamn,60.116667,19.900000,AX